<nav id="nav">
    <ul>
    {{ range $index, $menuitems := site.Menus.main }}
        {{ if .HasChildren }}
            <li class="{{- if eq $index 2 }} break {{- end }}">
                <a href="#">
                   {{ .Name }}
                </a>
                <ul>
                    {{ range .Children }}
                        {{ if .HasChildren }}
                            <li>
                                <a href="#">
                                   {{ .Name }}
                                </a>
                            <ul>
                                {{ range .Children }}
                                <li>
                                    <a href="{{ .URL }}">
                                       {{ .Name }}
                                    </a>
                                </li>
                                {{ end }}
                            </ul>
                        {{ else }}
                            <li>
                                <a href="{{ .URL }}">
                                   {{ .Name }}
                                </a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </li>
        {{ else }}
        <li class="{{- if eq $index 2 }} break {{- end }}">
            <a href="{{ .URL }}">
                {{ .Name }}
            </a>
        </li>
        {{- end }}
    {{- end }}
    </ul>
</nav>
